*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #F3F7F8;
    display: grid;
    place-items: center;
}

#connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .5;
    color: #929795;
    margin-left: 100px;
}

.icon { font-size: 100px; }

.msg {
    font-size: 30px;
    font-family: 'montserrat';
    text-transform: capitalize;
}

.connected {
    color: #4CE291 !important;
    opacity: 1 !important;
}
